// Place all the styles related to the Task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.Description {
  font-size: medium;
  color: grey;
}

.addButton {
  padding: 10px;
  border: 1px solid grey;
  style-align: none;
  width: 100px;
  text-align: center;
  color: grey;
  background-color: lightgrey;
}

.addButton:hover {
  background-color: grey;
}
